*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
html,body,#root{
    width: 100%;
    height: 100%;
}
.tab{
    width: 100%;
    display: flex;
    justify-content: space-around;
    .active{
        background: red;
        color: #fff;
    }
}

.listbar{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.list{
    width: 150px;
    margin: 10px;
    img{
        width: 150px;
        height: 150px;
        margin: 10px;
    }
}
.img{
    width: 100%;
    height: 200px;
}
.centent{
    display: flex;
    .left{
        p{
            width: 80px;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
        .active{
            background: red;
            color: #fff;
        }
    }
    .right{
        height: 30px;
        line-height: 30px;
        margin-left: 20px;
    }
}